.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}
.logoWrapper {
  /* Set desired dimensions here */
  width: 83px;
  height: 61px;
  left: 96px;
  top: 53px;

  margin-bottom: 1rem;
  /* Add any other styling you want, e.g., padding, margin, etc. */
}


.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

/* Add this to your CSS file */

/* Hide the regular links by default */
.links > a {
  display: none;
}

/* Show the regular links when mobileMenuOpen is true */
.links > a.show-mobile-menu {
  display: block;
}

/* Style the mobile menu toggle button */
.menuToggle {
  display: block; /* Show this button by default */
}

@media (max-width: 768px) {
  /* Media query for screens with a maximum width of 768px (adjust as needed) */
  .links > a.show-mobile-menu {
    display: block; /* Show regular links */
  }

  .menuToggle {
    display: block; /* Show the menu toggle button */
  }

  .links > a {
    display: none; /* Hide regular links */
  }
}
